[2022-04-07 19:30] cagrigonultas opened #1 "Hata:"
(Bu hata Windows 10 işletim sisteminde gerçekleşmiştir)
PyNar Python editörünü kullanırken sol tarafta kısayol olarak bulunan, sürükle bırak yöntemiyle kullanılan hazır kodlardan "Pencere oluşturma" kodu kullanılmaya çalışıldığında

![hata1](https://user-images.githubusercontent.com/91600415/162281185-777b3957-dcbe-4114-89c4-1adfbd2da84c.PNG)

Bu hata ile karşılaşılıyor. Bu hata robota danışıldığı

[2022-04-07 19:54] furkanyaylaz opened #2 "Hata::"

[2022-04-07 19:54] #2 closed

[2022-04-07 19:57] ttbilgin commented on #1
Chatbot hatayı düzeltiyor ama appjar paketi kurulu olmadığı için çalıştırınca yine aynı hata geliyor. appJar adlı paket varsayılan durumda Python'da kurulu olarak gelmez. Pencere Menüsünden bir önceli menüye bu yüzden "Gerekli Kütüphane" menüsünü koymuştuk, orada anlatıldığı şekilde önce appJAr kurmak gerekiyor. https://www.pynar.org/help/Yardim_Bolum5.html#paket-arama-ve-kurma

![image](https://u

[2022-04-07 19:57] #1 closed, assigned to nobody

[2022-04-07 20:00] cagrigonultas opened #3 "Yeni Özellik:"
(Bu yeni özellik önerisi Windows 10 işletim sistemi içindir.)
Bir proje üstünde değişiklik yapıldığında program kapatılmaya çalışılırken önümüze iki seçenek sunuluyor

![Ekran Görüntüsü (20)](https://user-images.githubusercontent.com/91600415/162285671-7bb063d9-5a92-4650-81b0-15a78f3e1e8b.png)

Bu pencerede işlemi iptal etmek için bir çarpı koyulabileceğini düşünüyorum. Çünkü son anda fark edilen

[2022-04-07 20:01] furkanyaylaz opened #4 "Hata:"
![bul_ve_degistir_yardim_butonu](https://user-images.githubusercontent.com/92256027/162285592-236ee180-6a56-463e-98a4-1a28cfd43e38.png)

Bul ve Değiştir penceresi açıldığında sağ üst köşedeki yardım butonu çalışmıyor.

[2022-04-07 20:08] furkanyaylaz commented on #4
Hata windows 10 işletim sisteminde görülmüştür.

[2022-04-07 20:28] cagrigonultas opened #5 "Yeni özellik:"
(Bu yeni özellik önerisi Windows 10 işletim sistemi içindir.)
Önerim işaret tamamlamayla alakalı. Örneğin print fonksiyonunda parantez ve çift tırnak tamamlama olabilir. Eğer bu şekilde kullanılmak istenmiyorsa kod tamamlama sunulduğunda seçim yapılırsa parantez otomatik olarak eklenebilir.

![Ekran Görüntüsü (22)](https://user-images.githubusercontent.com/91600415/162290097-8e63b374-fb16-494a-941

[2022-04-07 20:43] #5 closed

[2022-04-07 20:44] cagrigonultas opened #6 "Yeni Özellik:"
(Bu yeni özellik önerisi Windows 10 işletim sistemi içindir.)
Önerim işaret tamamlamayla alakalı. Örneğin print fonksiyonunda parantez ve çift tırnak tamamlama olabilir. Eğer bu şekilde kullanılmak istenmiyorsa kod tamamlama sunulduğunda seçim yapılırsa parantez otomatik olarak eklenebilir.

![Ekran Görüntüsü (22)](https://user-images.githubusercontent.com/91600415/162290097-8e63b374-fb16-494a-941

[2022-04-07 21:13] cagrigonultas opened #7 "Yeni Özellik:"
(Bu yeni özellik önerisi Windows 10 işletim sistemi içindir.)
Ayarlardan kod ve editör yazı tipi seçtikten sonra gelen pencerede ancak editör yeniden başlatılırsa değişikliklerin gerçekleşeceği belirtiliyor. Bence o pencereye editörü yeniden başlatan bir seçenek de koyulabilir.

![Ekran Görüntüsü (24)](https://user-images.githubusercontent.com/91600415/162308129-357b7783-9541-451f-8249-bce2dd7a3de

[2022-04-07 21:21] cagrigonultas opened #8 "Hata:"
(Bu hataya Windows 10 işletim sisteminde rastlanmıştır.)
Paket yöneticisindeki yardım ikonu çalışmıyor.

![Ekran Görüntüsü (27)](https://user-images.githubusercontent.com/91600415/162317101-a7eea050-8ea6-449d-8f8c-ac7147296eff.png)

[2022-04-07 21:23] emredogangun opened #9 "Hata"
(Bu hata ile Windows 10'da karşılaşılmıştır.)
Bul ve değiştir butonu kullanımında değiştir kısmında yazdığım kod üzerinde 'print' ifadesi ile 'printf' ifadesini değiştirmeye çalıştığımda ilk print'i printf'e çeviriyor ama diğerlerinde 1 tane 'f' fazladan basıyor ve kodda 3 tane print olmasına rağmen uyarı ekranında 5 print bulunduğu yazıyor.
![Ekran Görüntüsü (66)](https://user-images.githubuserco

[2022-04-07 22:34] emredogangun opened #10 "Hata:"
(Bu hata ile Windows 10'da karşılaşılmıştır.)
Paket kısmında paketin ismini yazıp 'PyPI'dan paket bul' tuşuna tıklandığında 'Uygulama Yanıt Vermiyor' hatası ile karşılaştım, uygulamada donmalar ve kapanma oldu.
![Ekran Görüntüsü (75)](https://user-images.githubusercontent.com/92365234/162330496-01884950-9d54-4da8-bdbc-bc66314e22ac.png)

[2022-04-08 07:41] mskunduraci commented on #10
Benzer bir hata bende de oldu. pyautogui yükleme sırasında program kapanıyor.

[2022-04-08 09:28] ttbilgin commented on #10
Sadece pyautogui paketinde mi oluyor bu durum?  Ben windows 10'da denediğimde aynı sorunu tekrar edemedim, sorunsuz buldu. Gönderdiğiniz ekran görüntüsünde pyautogiu paketinin bilgilerini almış görünüyor. sadece pyautogui'de oluşuyorsa PYPI sitesinden kaynaklı bir sorun olabilir. Diğer paketleri de denermisiniz @mskunduraci  ve @emredogangun  ?

[2022-04-08 10:45] FatihcanUslu opened #11 "İyileştirme:"
(Bu yeni özellik önerisi Windows 10 işletim sistemi içindir.)

Yukarı ve aşağı butonları zaten en yukarıdaysak yada zaten en aşağıdaysak görünürlükleri kapatılabilir. Bu sayede kullanıcı bir özellik arıyorken modülün en üstünde olduğunu yada en aşağısında olduğunu daha rahat anlar.

![buton](https://user-images.githubusercontent.com/72496488/162420690-026109de-7f7b-4a05-a47e-40c7f042ebd0.PNG)
.

[2022-04-08 11:10] FatihcanUslu opened #12 "Hata:"
(Bu hataya Windows 10 işletim sisteminde rastlanmıştır.)

İçe aktarım hatasının sebebi cv2 kütüphanesinin yüklenmemiş olmasıydı. Ancak chatbot import yanlış yazıldı hatası döndürüyor

![hata](https://user-images.githubusercontent.com/72496488/162424408-cbb811a7-f683-47dd-9bb3-27607079831d.PNG)
.

[2022-04-08 11:52] mskunduraci commented on #10
Aynı hata pygame yüklemek istediğimde de oldu. Ekran görüntüsü aşağıda.

![pynar](https://user-images.githubusercontent.com/34349301/162429413-ef808f06-a003-444c-8756-3a80abfe210a.gif)

[2022-04-08 12:31] ttbilgin commented on #10
kullandığın python versiyonu nedir? Sorunsuz kurulabilen python paketi varmı?

pygame ve pyautogui şuradaki konsol penceresinden pip install ile kurulabiliyor mu?
![image](https://user-images.githubusercontent.com/854154/162435983-988feb21-5adf-4ecb-a9a9-d017363aaa09.png)

@mskunduraci

[2022-04-08 12:54] mskunduraci commented on #10
Anaconda ile birlikte gelen Python 3.7 sürümü. Anaconda'yı kaldırıp, sadece Python'u kurduğumda hata düzeldi.

[2022-04-08 20:15] ttbilgin commented on #10
Evet, biz editörü geliştirirken python 3.8 ve yukarısı için uyumlu olarak geliştirmeye başladık, 3.7 çok eski bir sürüm bu yüzden "pip" komutu kaynaklı bir sorun oluşmuş, 3.8 ve yukarısında sorun olmuyor. Bu "bug" ı kapatıyorum

[2022-04-08 20:15] #10 closed, assigned to nobody

[2022-04-08 21:46] abdullahbilgi opened #13 "İyileştirme:"
(Bu yeni özellik önerisi Windows 10 işletim sistemi içindir.)

Yanlış bir kod yazınca java'daki gibi yanlış  yapılan yerin altı kırmızı tırtıklı çizgi ile çizilebilir. Yada yanlış yazılan yerin yanında intellij idea gibi info box çıkartıp anında yanlış yapılan yeri düzelttirilebilir.
![Ekran Görüntüsü (11)](https://user-images.githubusercontent.com/92636172/162535953-5ff22ffb-bbdd-48b4-9e7a-ff5bb8

[2022-04-08 21:48] abdullahbilgi opened #14 "Hata:"
(Bu hata  Windows 10 işletim sistemi içindir.)

Yardım robotunda UFT-8 hatası olabilir.
![Ekran Görüntüsü (12)](https://user-images.githubusercontent.com/92636172/162536603-051ab2a8-f1fb-40ad-b9b4-8c14717ccefe.png)

[2022-04-08 21:52] abdullahbilgi opened #15 "Yeni Özellik:"
(Bu yeni özellik önerisi Windows 10 işletim sistemi içindir.)

Yardım robotunda tek tek hatalı satırları düzeltmek butonunun yanına bulunan tüm hataları tek seferde düzelten buton koyulabilir

![Ekran Görüntüsü (11)](https://user-images.githubusercontent.com/92636172/162536941-e7b466bf-ffbd-4329-9066-87c33e7b9c61.png)
.

[2022-04-08 22:16] abdullahbilgi opened #16 "Hata:"
(Bu hata ile Windows 10'da karşılaşılmıştır.)
Kod yazı tipini değiştirince kod yazdığımız yerde yazı tipi değişmiyor

![Ekran Görüntüsü (11)_LI](https://user-images.githubusercontent.com/92636172/162540127-7db36dc4-45ba-4ea8-9cd3-b3e1323f8c25.jpg)

[2022-04-08 22:47] abdullahbilgi opened #17 "Hata:"
(Bu hata ile Windows 10'da karşılaşılmıştır.)

Derleyici hatalı koda kadar çalışıyor ve hatalı koda gelince hata veriyor.Normalde derleyici tüm kodu tarayıp hata bulursa uyarı mesajı verip yazılan tüm kodları çalıştırmaması gerekmiyor mu?
![Ekran Alıntısı](https://user-images.githubusercontent.com/92636172/162543529-9a26c023-89f5-48e0-830a-0eaf28ee3f3c.PNG)

[2022-04-09 05:50] furkanyaylaz opened #18 "İyileştirme:"
(Windows 10 işletim sistemi için iyileştirme önerisi)
![yaziyi_butona_sigdirma](https://user-images.githubusercontent.com/92256027/162558366-f82a3c50-ac56-4738-a372-8aca0f38bb13.png)
)

Hatalı satırı düzelt/düzeltme yazısı butonun içinde tamamen görünecek şekilde yeniden düzenlenebilir.

[2022-04-09 10:07] sagumax404 opened #19 "Hata:"
(Bu hata ile  Windows 10' da karşılaşılmıştır)
Ayarlara girdiğim zaman punto değerini değiştirmediğim halde şuanki olan punto değerini kendisi her seferinde 2 birim azaltıyor. Ayrıca effects bölümündeki seçenekleri açıp editörü yeniden başlattığımda herhangi bir değişiklik olmuyor.
![hata](https://user-images.githubusercontent.com/90527001/162567183-e75b124e-ec6e-4daf-b8fe-ef9e5aad7014.png)
![hata

[2022-04-09 12:34] furkanyaylaz opened #20 "İyileştirme:"
(Windows 10 işletim sistemi)
![giris_ekraninda_cikan_pencere](https://user-images.githubusercontent.com/92256027/162574246-15b324f3-e7f0-41a5-b787-9c3748f03a4d.png)
 Oturum açınca ekranda "result" mesajı veren bu pencere çıkıyor. "Giriş başarılı" yazısıyla değiştirilebilir.

[2022-04-09 13:34] furkanyaylaz opened #21 "Hata:"
(Windows 10 işletim sistemi)

Oturum açtıktan sonra buluta gönder ya da buluttan indir butonuna basınca 1 numaralı pencere açılıyor, tamama tıklayıp tekrar buluta gönder butonuna basınca 2 numaralı pencere açılıyor ardından  pencereye klasör ya da dosya(uzantılı veya uzantısız ) ismini girdikten sonra 3 numaralı pencere ekrana çıkıyor tekrar tamama tıklayınca editör kapanıyor son olarak editör yen

[2022-04-09 13:42] sagumax404 opened #22 "İyileştirme:"
(Windows 10 işletim sistemi için iyileştirme önerisi)
İleri veya geri alınacak bir şey olmadığı zaman resimdeki oklar tıklanılamaz hale getirilerek belirtilebilir.
![geri ileri](https://user-images.githubusercontent.com/90527001/162576479-607e922d-c2af-4094-8c50-458c8035acbc.png)

[2022-04-09 13:49] sagumax404 opened #23 "Yeni Özellik:"
(Bu yeni özellik önerisi Windows 10 işletim sistemi içindir.)
Yardım robotuna mouse'un sol tıkına basarak da mesaj göndermek için resimde belirttiğim dikdörtgen içindeki gibi bir şekil eklenebilir.
![okkkk](https://user-images.githubusercontent.com/90527001/162576950-600b904d-c826-439e-92b1-49457b86faea.png)

[2022-04-09 17:19] ttbilgin commented on #20
@fatiiates bu durumu test edebilirmisin? doğru ise web api'den mi geliyor bu cevap?

[2022-04-09 17:36] ttbilgin commented on #13
Güzel bir öneri, teşekkürler @abdullahbilgi  bunu özellik listesine ekliyorum, tabiki bu sürümde yapabilirmiyiz bakacağız, bunu gerçek zamanlı yapabilmek için sürekli olarak kodu kontrol etmek gerekiyor, bu durum CPU kullanımını arttırıyor.

[2022-04-09 18:08] ttbilgin commented on #4
Bu sorun düzeltilmiştir, penceredeki [?] ikonu kaldırılmıştır. Yeni oluşturulacak Windows/Linux Installer'da düzeltilmiş olacaktır.

[2022-04-09 18:08] #4 closed, assigned to nobody

[2022-04-09 18:20] ttbilgin commented on #23
@sagumax404  öneri için teşekkürler, fakat böyle bir buton koyarsak chatbot'un zaten sağdan soldan ikonlarla daraltılmış olan yazı yazma alanı da çok daralacaktır. Chatbota yazı yazarken zaten klavye kullandıkları için klavyedeki Enter tuşuna basmak fareyi alıp onunla ikona tıklamaktan daha kolay olur.

[2022-04-09 18:20] #23 closed, assigned to nobody

[2022-04-09 18:29] ttbilgin commented on #6
@cagrigonultas öneri için teşekkürler, fakat kullandığımız QScintilla kütüphanesi  )("*/{} gibi işaretleri otomatik tamamlamada kullanmaya izin vermediği için teknik olarak bunu yapabilmemiz mümkün değil. Belki ilerleyen zamanlarda yeni sürümler çıktığında  böyle bir ihtimal olabilir.

[2022-04-09 18:29] #6 closed, assigned to nobody

[2022-04-09 18:30] ttbilgin commented on #8
@cagrigonultas teşekkürler, bu bug giderildi, yeni çıkacak Kurulum programında [?] ikonu orada olmayacak.

[2022-04-09 18:30] #8 closed, assigned to nobody

[2022-04-09 18:32] ttbilgin commented on #14
@abdullahbilgi teşekkürler, evet bu bir bug, fakat yeni sürümde chatbot'un öneri yapmasından vazgeçiyoruz, Chatbot sadece hata için düzeltme önerecek, bunun dışında farklı öneriler yapmayacak, böylece bu sorun kendiliğinden ortadan kalkacaktır.

[2022-04-09 18:32] #14 closed, assigned to nobody

[2022-04-09 18:39] ttbilgin commented on #17
@abdullahbilgi  teşekkürler. Python dili derlenmek yerine satır satır çalıştırıldığı için bu durum normaldir, Pycharm gibi profesyonel IDE'lerde de aynı kodu çalıştırsan onlar da hatalı satıra kadar işletirler. C/C++/C#/Java gibi dillerde ise kod öncelikle derlenip sonra çalıştırıldığı için kodda hata varsa derlemede hata oluştuğu için kod derlenemediği için çalışamaz.

[2022-04-09 18:39] #17 closed, assigned to nobody

[2022-04-09 18:43] ttbilgin commented on #16
@abdullahbilgi  değişikliğin geçerli olması için editörü tekrar başlatman gerekir. Windows 10 üzerinde aynı işlemleri gerçekleştirip editörü kapa aç yapınca seçtiğim yazı tipiyle görüntüleniyor. Zaten buna yönelik bir bildirim veriyoruz kullanıcılara.

[2022-04-09 18:43] #16 closed, assigned to nobody

[2022-04-09 18:48] fatiiates commented on #20
@ttbilgin  Editör üzerinden denedim, aynı şekilde result dönüyor. Öyle olunca Postman ile test ettim görünüşe göre servis sorunsuz gibi duruyor.

![image](https://user-images.githubusercontent.com/51250249/162587697-fee86efd-9b95-409c-a102-02f09f9c9dc9.png)

[2022-04-09 20:05] Sanemcoskun opened #24 "iyileştirme"
![image](https://user-images.githubusercontent.com/92624533/162589898-dd535b1e-eeeb-4f3a-9142-d7851eb53fd6.png)

ilk açıldığında kapatma veya küçültme işaretleri gözükmüyor

![image](https://user-images.githubusercontent.com/92624533/162589928-3099bcb8-3794-4778-8ae6-d9925cb53fd2.png)

ekranı küçülttüğümde geliyor

(windows 8)

[2022-04-09 20:15] Sanemcoskun opened #25 "iyileştirme:"
![image](https://user-images.githubusercontent.com/92624533/162590188-757f356d-10d8-4738-aaa3-a2d52b87158e.png)
büyütme küçültmenin yanına eski haline geri dönmesini sağlayan bir buton yapılabilir. örneğin kişi kodu çok büyüttüyse tekrar tekrar küçültmek yerine ilk haline geri döndürme yapabilir

[2022-04-09 20:29] emredogangun opened #26 "Hata:"
![Ekran Görüntüsü (86)_LI](https://user-images.githubusercontent.com/92365234/162590388-eadb11b8-a39f-4a41-bcad-d75a7028593c.jpg)
Ayarlar kısmından yazı boyutunu 36'nın üstüne çıkardığımda ayar kısmındaki boyut seçtiğimiz 'değiştir' yazısı kayboluyor ve yazılar okunamayacak hale geliyor.

[2022-04-09 20:32] cagrigonultas opened #27 "Hata:"
(Bu hataya Linux/Ubuntu işletim sisteminde raslanmıştır.)
Kod yazılmaya başlandığında imleç yazılan her haften sonra kendini ileri atıyor. Yani yazılanlarla imleç arası mesafe git gide artıyor.
![Ekran Görüntüsü - 2022-04-09 22-55-25](https://user-images.githubusercontent.com/91600415/162590685-38828af2-7da5-477e-a70c-78ad66809a26.png)
![Ekran Görüntüsü - 2022-04-09 12-55-25](https://user-images.g

[2022-04-09 20:36] abdullahbilgi opened #28 "Yeni Özellik:"
(Bu yeni özellik önerisi Windows 10 işletim sistemi içindir.)

Buraya beni hatırla gibi bir buton eklenebilir ve Pynar'a her giriş yaptığımızda tekrardan oturum açmaya gerek kalmaz
![Ekran Görüntüsü (14)_LI](https://user-images.githubusercontent.com/92636172/162590811-de51b191-9a7c-41b8-bb44-86e19055967e.jpg)
.

[2022-04-09 20:36] emredogangun opened #29 "İyileştirme:"
![Ekran Görüntüsü (89)_LI](https://user-images.githubusercontent.com/92365234/162590769-8f98c90b-b138-4aad-9725-d286b66c2c86.jpg)
Önerim burada yazı tipi ve boyutu değiştirmek için 'değiştir' tuşuna basmadan direkt yazıya ve sayıya tıklayarak kendimiz yazarak değiştirebilmemiz.

[2022-04-09 20:41] emredogangun commented on #26
(Bu hata ile Windows 10'da karşılaşılmıştır.)

[2022-04-09 20:41] emredogangun commented on #29
(Bu iyileştirme önerisi Windows 10 içindir.)

[2022-04-09 20:43] cagrigonultas commented on #27
Ve de işaretleri de imlecin bulunduğu yere alıyor.
![Ekran Görüntüsü - 2022-04-09 23-42-03](https://user-images.githubusercontent.com/91600415/162591030-a6aed819-3cf1-4235-9ad2-c11b55c3e02d.png)
![Ekran Görüntüsü - 2022-04-09 23-43-00](https://user-images.githubusercontent.com/91600415/162591033-e78299c1-1c3b-43c6-9422-bcb4577833fc.png)

[2022-04-09 20:44] abdullahbilgi opened #30 "İyileştirme:"
(Bu yeni iyilestirme önerisi Windows 10 işletim sistemi içindir.)
Buluta dosya yüklediğimiz zaman dosyayı en son kaydettiğimiz yerden alıp belgelerdeki Pynar içine taşıyor.Bunun Yerine Dosyanın Bir yedeğini alıp buluta kaydedebilir.
![Ekran Görüntüsü (15)_LI](https://user-images.githubusercontent.com/92636172/162590977-eb9e35f6-052e-4ab4-abaf-474701b503da.jpg)

[2022-04-09 20:49] abdullahbilgi opened #31 "Hata:"
(Bu hata önerisi Windows 10 işletim sistemi içindir.)
Buluta dosya yükleyebiliyorum fakat bulttan dosya indiremiyorum,fakat pynar kutu içinden dosyaya bakabiliyorum
![Ekran Görüntüsü (17)_LI](https://user-images.githubusercontent.com/92636172/162591202-36a90fb6-f206-40ea-9ebb-ef6796813b48.jpg)
.

[2022-04-09 20:51] ttbilgin commented on #24
Gözüküyor ama ekranın üst tarafından kaldığı için göremiyor olabilir misin? Gönderdiğin her iki resimde de pencere kenarlığı var gibi görünüyor.

[2022-04-09 20:54] cagrigonultas opened #32 "Hata:"
(Bu Windows ve Linux/Ubuntu işletim sistemlerinde rastlanmıştır.)
print fonskiyonu kullanımında girilen, diğer kullanımlar için kısayol olarak tutuluyor. Fakat seçildiğinde yazılmıyor.
![Ekran Görüntüsü - 2022-04-09 2223-45-46](https://user-images.githubusercontent.com/91600415/162591247-99a82a1a-2be6-4f4d-b77f-4c6b964ab93f.png)

[2022-04-09 20:54] ttbilgin commented on #25
@Sanemcoskun öneri için teşekkürler, fakat bunun için fazladan bir buton daha koymamız gerekir, bu da editörün üst menülerini daha sıkışık ve karışık hale getirecektir. Editörü kapatıp açarsa zaten eski haline dönüyor.

[2022-04-09 20:54] #25 closed, assigned to nobody

[2022-04-09 21:00] ttbilgin commented on #26
@emredogangun bunu herhangi bir yazılımda yaparsan aynı durumla karşılaşırsın, PyCharm'da da aynısını yaparsan böyle olacaktır. Buna yapılabilecek bişey yok malesef. Çünkü kullandığımız Qt kütüphanesi Font seçim pencresinin tasarımını değiştirmeye izin vermiyor. Bu yüzden font büyüklüğü listesini sınırlandıramıyoruz.

[2022-04-09 21:00] #26 closed, assigned to nobody

[2022-04-09 21:05] emredogangun opened #33 "İyileştirme:"
(Bu iyileştirme önerisi Windows 10 içindir.)
Şifre yanlış girilince kullanılması için 'Giriş Yap' butonu yanına 'Şifremi Unuttum' butonu eklenebilir.

![Ekran Görüntüsü (92)](https://user-images.githubusercontent.com/92365234/162591411-e661596e-942f-4c92-8f1e-a23a51737dc0.png)

[2022-04-09 21:05] cagrigonultas opened #34 "İyileştirme:"
(Bu iyileştirme Wİndows ve Lİnux/Ubuntu için yazılmıştır.)
Robotdan kod hatası için yardım alındığında ctrl+z ile tekrar geriye dönülemiyor.
![Ekran Görüntüsü - 2022-04-09 23-58-36](https://user-images.githubusercontent.com/91600415/162591620-b64ea9c8-017c-4c64-b9bd-84ae7c13269e.png)

[2022-04-09 21:59] Sanemcoskun opened #35 "Yeni Özellik"
paket yöneticisinde kullanıcı paket ismi girmeye başladığında aşağıda öneriler çıkabilir. böylece kişi tam ismi girmese bile kolayca görebilir

[2022-04-09 22:32] yunusefeyilmaz opened #36 "Hata:"
Üye olduktan sonra sınavlarınız kısmına tıkladığımda uygulama kendini kapatıyor.
(Bu hatayı Windows 10 da karşılaştım.)

![hata](https://user-images.githubusercontent.com/89478740/162593590-539cfb4b-566b-4134-b807-41c573905803.png)

[2022-04-09 22:36] yunusefeyilmaz opened #37 "Hata:"
Bilgileri girip giriş yap butonuna tıkladığımda önüme böyle bir hata geliyor. Tamam butonuna basıp uygulamaya geçince giriş yapılmış oluyor.
(Bu hatayı Windows 10 da karşılaştım.)
![hata2_1](https://user-images.githubusercontent.com/89478740/162593716-d5b0d880-8ae7-4fe9-9244-51da6cf36dc7.png)![hata2](https://user-images.githubusercontent.com/89478740/162593719-2350197c-b079-4c12-9a3d-3821b64fc6b7.

[2022-04-09 22:44] yunusefeyilmaz opened #38 "Hata:"
Bilerek 7. satırı hatalı yazdım fakat hata raporunda satır sayısı 0 gözüküyor.
(Bu hatayı Windows 10 da karşılaştım.)

![hata4](https://user-images.githubusercontent.com/89478740/162593910-d4bda4b1-b1a6-488a-8bd8-80278b413c83.png)

[2022-04-09 23:26] Sanemcoskun opened #39 "yeni özellik"
kısa yollar ve işlevleri sol menüde yer alabilir.

[2022-04-10 07:41] ttbilgin commented on #39
@Sanemcoskun teşekkürler, Onlar üst menüde yardım sekmesindeki Yardım bölümünde bulunuyor, bu yüzden gerek duymadık

[2022-04-10 07:41] #39 closed, assigned to nobody

[2022-04-10 07:44] ttbilgin commented on #35
@Sanemcoskun teşekkürler, paket adını kullanıcı yazdığında PYPI sitesinde arattığımız için ve oradan bize sadece tek yanıt döndüğü için bunu teknik olarak yapamıyoruz. Öneri getirmek için bütün python paket bilgilerini indirmek gerekir. Bütün python paketlerinin listesini indirip onları güncel tutmak da zor olduğu için teknik olarak bunu yapmak getireceği faydadan daha zor olduğu için yapamıyoruz.

[2022-04-10 07:44] #35 closed, assigned to nobody

[2022-04-10 07:46] #24 closed, assigned to nobody

[2022-04-10 15:52] ttbilgin commented on #20
@fatiiates  teşekkürler, evet bu bir bug, eskinden böyle değildi, bunu düzelteceğiz @furkanyaylaz teşekkürler

[2022-04-10 17:40] yunusefeyilmaz opened #40 "Hata:"
Sohbet kısmında kısa veya anlamsız ifadeler kullanınca yanlış bilgiler çıkıyor.
(Bu hataya Windows 10  da karşılaştım)
![hata6](https://user-images.githubusercontent.com/89478740/162632095-2103b5bc-6f90-43c8-b829-832d9f7c5633.png)

[2022-04-10 17:53] yunusefeyilmaz opened #41 "Yeni Özellik:"
Genellikle çoğu editörlerde ya da uygulamalarda sekmeleri kapatmak için mouse'un orta tuşu kullanılır. Bence bu kullanıcıya daha kolaylık sağlıyor. Bu özellik eklenebilir.
(Windows 10)
![öneri](https://user-images.githubusercontent.com/89478740/162632510-7a4ee099-f73f-47b6-a714-e7be79def6cd.png)

[2022-04-10 20:29] furkanyaylaz opened #42 "İyileştirme:"
(Windows 10 işletim sistemi)

Hazır kod parçacıklarından olan dairenin alanını bulan programda alanı ekrana yazdırırken yarıçap yerine "Alan :" ifadesi daha doğru olabilir.
![yaricap](https://user-images.githubusercontent.com/92256027/162638475-2a729501-3694-4194-866b-c39c721d4144.png)

[2022-04-10 20:38] furkanyaylaz opened #43 "Hata:"
(Windows 10 işletim sistemi)
 Editörde hata ayıklayıcı sadece bir satıra atanabiliyor. Ayrıca editöre  hata ayıklama özelliği yeni sürümlerde eklenebilir.

![hata_ayiklayicisi](https://user-images.githubusercontent.com/92256027/162638746-0b91e9ad-f76c-4095-97de-57e27ed44829.png)

[2022-04-11 18:36] Sanemcoskun opened #44 "iyileştirme"
intellij codeblocks gibi parantez, tırnakların bir tanesi yazıldığında diğerleri otomatik tamamlanabilir

[2022-04-11 18:50] Sanemcoskun opened #45 "yeni özellik"
yarışmalar bölümü olabilir. (her şube veya okulun belli saatte açılan hocaların sisteme yüklediği süreli olacak şekilde)

[2022-04-11 18:54] Sanemcoskun opened #46 "yeni özellik"
ödevler ve sınavlar tamamlandıkça puanlı rozetler tanımlanabilir(oturum açıldıktan sonra çıkış yap kısmına)

[2022-04-12 10:18] fatiiates commented on #20
TL;DR, SSL sorunu vardı, çözüldü.

@ttbilgin sorun login olmadan kaynaklanmıyormuş. Login olduktan sonra sınav listesi çekilirken yine SSL problemi yaşanıyordu. Dolayısıyla sertifikayı silip www.pynar.org'u da kapsayacak şekilde yeniden sertifikalandırdım ve yönlendirmeleri değiştirdim şu an sorunsuz çalışıyor.

[2022-04-12 10:35] aysegul-hatipoglu commented on #37
SSL probleminden kaynaklı sorun yaşanıyordu çözüldü.

[2022-04-12 10:38] aysegul-hatipoglu commented on #31
SSL probleminden kaynaklı sorun yaşanıyordu çözüldü.

[2022-04-12 19:11] aysegul-hatipoglu commented on #18
Problem çözüldü.

[2022-04-12 21:16] abdullahbilgi opened #47 "Hata:"
(Bu hataya windows 10 da rastlanmıştır)
Derleyiciyi çalıştırdım.hata verdi.Yardım robotundan hatalı satırı düzelti işaretledim.hatalı satırı yanlış düzeltiyor
![Ekran Görüntüsü (19)](https://user-images.githubusercontent.com/92636172/163055891-10ed8a1d-6436-42cf-9698-ebe2735bec46.png)
.

[2022-04-12 21:25] #18 closed, assigned to nobody

[2022-04-12 21:28] aysegul-hatipoglu commented on #18
Hatalı satırı Düzelt, Hatalı Satırı Düzeltme seçenekleri kaldırıdı. Tek çalıştırma işkeminde sadece bir hata gösterilecek şekilde düzelt düzeltme butonları eklendi. Problem çözüldü.

[2022-04-12 21:29] aysegul-hatipoglu commented on #20
gerekli server adresi değişiklikleri yapılarak sorun çözüldü.

[2022-04-12 21:33] aysegul-hatipoglu commented on #31
SSL probleminden kaynaklı sorun yaşanıyordu çözüldü.

[2022-04-12 21:33] #31 closed, assigned to nobody

[2022-04-12 21:33] aysegul-hatipoglu commented on #37
Problem çözüldü.

[2022-04-12 21:33] #37 closed, assigned to nobody

[2022-04-12 21:40] aysegul-hatipoglu commented on #36
SSL den kaynaklı Problem çözüldü.

[2022-04-12 21:40] #36 closed, assigned to nobody

[2022-04-12 21:44] aysegul-hatipoglu commented on #42
İfade düzeltildi.

[2022-04-12 21:44] #42 closed, assigned to nobody

[2022-04-12 21:57] aysegul-hatipoglu commented on #21
Problem çözüldü.

[2022-04-12 21:57] #21 closed, assigned to nobody

[2022-04-13 08:59] OsmanTahirKuzu opened #48 "İyileştirme:"
![image](https://user-images.githubusercontent.com/56130302/163137434-7891df63-6301-4016-a201-9f6e06eaa8e9.png)
Yardım penceresi açıldıktan sonra aynı anda editörü de kullanayım derseniz yapamıyorsunuz. Yardım penceresini kapatmanız gerekiyor. Yardım penceresini kapatmadığınız müddetçe sadece yardım kısmında işlem yapılabiliyor. PyNar'da diğer hiçbir işlem yapılamıyor.

[2022-04-13 09:16] OsmanTahirKuzu opened #49 "Yeni Özellik:"
![image](https://user-images.githubusercontent.com/56130302/163141785-8daaffd8-12ba-4d71-b940-7dbdb731b7bb.png)
Çalıştır butonuna bastıktan sonra sonuçların ayrı pencerede gözükmesi yerine altta gözükmesi daha güzel olabilir aynı visual studio code'da olduğu gibi.
![image](https://user-images.githubusercontent.com/56130302/163142567-6f0a23e2-8e52-4278-95c5-3b729c989656.png)

[2022-04-13 16:31] aysegul-hatipoglu commented on #19
Problem çözüldü.

[2022-04-13 16:31] #19 closed, assigned to nobody

[2022-04-13 16:38] aysegul-hatipoglu commented on #38
@yunusefeyilmaz kullanıdığınız python versiyonunu öğrenebilir miyim?

[2022-04-13 16:38] aysegul-hatipoglu commented on #38
@ttbilgin Hocam burada hata mesajı ingilizce gelmiş ve hata satırı 0 gözüküyor. Ben bilgisayarımda çalıştırdığımda mesaj türkçe ve sayı doğru gözüküyor. Exeden kaynaklı bir problem olabilir mi?

[2022-04-13 17:38] yunusefeyilmaz commented on #38
@aysegul-hatipoglu  Python 3.10.0

[2022-04-13 18:25] yunusefeyilmaz commented on #38
@aysegul-hatipoglu Uygulamayı silip , python 3.10.0 32 bit da kaldırdım. Uygulamayı tekrar yükledim 3.10 bu sefer kurmadım kendi 3.9.10 versiyonumu algıladı galiba sorun çözüldü fakat
![hata1](https://user-images.githubusercontent.com/89478740/163244819-6b0a487d-e962-4067-9d47-c9a14210b4e1.png)
şimdi de python tuşu çalışmıyor. Run tuşuna basınca sol altta kaydedildi yazıyor ama hiçbir şey olmuyor.

[2022-04-13 18:27] yunusefeyilmaz opened #50 "Yeni Özellik :"
Diğer python editörlerinde olduğu gibi ayarlar kısmına hangi python sürümü seçili olduğunu ve klasörünü değiştirme gelebilir.
Kullanıcı istediğinde başka bir python sürümünü kulanabilmeli.
(Windows 10)
Örneğin:
![öneri1](https://user-images.githubusercontent.com/89478740/163246067-ef5e6d13-599e-4806-b214-98731665456f.png)

[2022-04-13 18:50] ttbilgin commented on #38
@yunusefeyilmaz  bilgisayarında bir komut satırı başlatıp orada "python" yazdığında python başlıyormu? muhtemelen başlamıyor çünkü pythonu kurarken PATH'e ekle seçeneğini seçmedin gibi duruyor.
Pythonu komple kaldır kurarken şu resimdeki gibi PATH'e ekle seçeneğini işaretle.

![image](https://user-images.githubusercontent.com/854154/163249850-9e2a3452-b90c-4ccc-bc3a-56c5b2d35e68.png)

[2022-04-13 19:21] yunusefeyilmaz commented on #38
@ttbilgin dediklerinizin aynısını ben de düşündüm . Fakat onları kontrol etmiştim hatta farklı editörlerde de test ettim hepsi sorunsuz çalışıyor. Fakat Pynar çalışmıyor.
![dene](https://user-images.githubusercontent.com/89478740/163251112-48f2e189-36a5-46d0-bbe5-840d5c076f4c.png)
![deneem](https://user-images.githubusercontent.com/89478740/163251367-abf1e11e-d0e4-4f4f-914e-5ea0d1739af3.png)
Sizin

[2022-04-13 20:20] ttbilgin commented on #38
@yunusefeyilmaz  program ekle/kaldır bölümünden pynarı komple kaldır, Sonra bir Windows Explorer penceresi aç adres olarak %AppData% yaz. Gelen penceredeki Pynar Python Editörü klasörü vara onu da komple sil. Sonra Pynar'ı tekrar baştan kur. Muhtemelen birçok şeyi kurup kaldırdığın için senin bilgisayarda bir sıkıntı oluştu.

[2022-04-13 20:43] ttbilgin commented on #12
Chatbot hata düzeltme algoritmasında yaptığımız iyileştirme ile bu tür hatalarda  x paketi kurulu değil şeklinde bildirim veriyoruz.
Bu hata düzeltildi.

[2022-04-13 20:43] #12 closed, assigned to nobody

[2022-04-13 20:51] ttbilgin commented on #27
@cagrigonultas kullandığın Ubuntu sürümü kaç?
Ubuntu 21 veya daha yeni olmalıdır. Eski sürümlerdeki QT kütüphanesinin sürümü çok eski olduğu için bu tür hatalar oluyor.

[2022-04-13 20:55] cagrigonultas commented on #27
20.04 sürümü için rastlamıştım. Üst sürüme geçeyim

[2022-04-13 21:16] yunusefeyilmaz commented on #38
@ttbilgin her şeyi yeniden kurunca düzeldi.

[2022-04-16 15:06] furkanyaylaz opened #51 "Yeni Özellik:"
Kullanıcının oturum açarken sürekli mail ve şifresini yazmaması için "oturumu açık tut" seçeneği ve şifreyi yazarken şifreyi görebilmesi için  "şifreyi gizle/göster" butonu eklenebilir.

![sifre_gösterme](https://user-images.githubusercontent.com/92256027/163679886-2d4b832d-93fa-41b3-a639-88a238f7c10e.png)

[2022-04-17 20:13] deniz7erdem opened #52 "Hata:"
OS: Windows 10 Pro 21H2

https://github.com/deniz7erdem/fasta-alignment/blob/main/hbg.py adresindeki kod çalıştırıldığında Python dosyasının olduğu konumda ilgili klasör/yol(41.satır) yok ise bu hata İngilizce oluşuyor.
![image](https://user-images.githubusercontent.com/47831143/163730616-87bd4041-66dc-4722-a02e-5f07e24d0344.png)

[2022-04-18 13:37] #27 closed, assigned to nobody

[2022-04-20 10:12] aysegul-hatipoglu commented on #22
Özelllik eklendi

[2022-04-20 10:12] #22 closed, assigned to nobody

[2022-04-20 12:02] aysegul-hatipoglu commented on #3
Vazgeç butonu eklendi.

[2022-04-20 12:05] aysegul-hatipoglu commented on #32
düzeltildi.

[2022-04-20 12:05] #32 closed, assigned to nobody

[2022-04-20 12:18] aysegul-hatipoglu commented on #11
özellik eklendi.

[2022-04-20 12:18] #11 closed, assigned to nobody

[2022-04-20 12:35] aysegul-hatipoglu commented on #7
@ttbilgin Hocam bu özelliği ekledim normal bir şekilde çalışıyor ama exede sorun oluşturur mu emin olamadım, Kontrol edebilir misiniz sorun yoksa taskı kapatayım.

[2022-04-20 13:23] aysegul-hatipoglu commented on #41
Eklendi.

[2022-04-20 13:23] #41 closed, assigned to nobody

[2022-04-20 13:59] #38 closed, assigned to nobody

[2022-04-21 08:10] ttbilgin commented on #3
@aysegul-hatipoglu  vazgeç butonu sekmelerde iyi çalışıyor fakat pynar'ı kapatırken gelen ekrandaki vazgeç butonuna tıklasak da pynar kapanıyor. Buna da bakabilirmisin?

[2022-04-21 08:16] ttbilgin commented on #7
@aysegul-hatipoglu , EXE yapınca çalışması için restart metodunu şu şekilde değiştirerek commit edersen çalışıyor. Tabi bu durumda python kodu olarak çalıştırırken çalışmaz ama sorıun değil, exe'de sorun çıkmasın yeter.

    def restart(self):
        QtCore.QCoreApplication.quit()
        pynarBasePath=os.path.dirname(os.path.dirname(os.path.dirname(os.path.dirname(os.path.realpath(__file__)))))

[2022-04-21 08:36] ttbilgin commented on #20
@aysegul-hatipoglu  evet sorun çözülmüş, fakat öneri yapan öğrencinin dediği gibi giriş yapılabildiyse "Pynar Portal'a başarıyla giriş yaptınız. Sağ üst köşede Adınız ve Soyadınızın baş harflerinin bulunduğu butondan "ÇIKIŞ YAP" butonuyla çıkış yapmadığınız sürece bundan sonraki başlatmanızda oturum açık olarak başlayacaktır."  şeklinde bir bilgilendirme verelim.

[2022-04-21 12:46] aysegul-hatipoglu commented on #3
@ttbilgin düzelttim Hocam

[2022-04-21 12:49] aysegul-hatipoglu commented on #7
@ttbilgin değiştirdim.

[2022-04-21 18:20] ttbilgin commented on #7
tamam olmuş teşekkürler @aysegul-hatipoglu

[2022-04-21 18:20] #7 closed, assigned to nobody

[2022-04-21 18:21] ttbilgin commented on #3
sana mail ile bir video gönderdim @aysegul-hatipoglu

[2022-04-23 14:05] aysegul-hatipoglu commented on #3
@ttbilgin Hocam düzeltip güncellemiştim videoyu izledim ama bu sorunun devam etmemesi lazım

[2022-04-23 14:17] aysegul-hatipoglu commented on #20
@ttbilgin ekledim hocam.

[2022-04-23 14:17] #20 closed, assigned to fatiiates

[2022-04-23 15:44] ttbilgin commented on #20
Beta'da böyle bir Commit göremedim @aysegul-hatipoglu

[2022-04-23 15:47] ttbilgin commented on #3
@aysegul-hatipoglu python 3.10'da test edermisin? belki bu yüzdendir? şimdi beta'yı indirip tekrar denedim, kapanıyor. Sendekini video çekip bana gönder istersen.

[2022-04-23 16:31] aysegul-hatipoglu commented on #3
Şuan dışarı çıktım hocam eve dönünce denerim 3.10 da ona göre yazarım.Diğer kısmı da göremediyseniz pushlamadım heralde onada bakayım.23 Nis 2022 18:47 tarihinde ttbilgin ***@***.***> yazdı:

@aysegul-hatipoglu python 3.10'da test edermisin? belki bu yüzdendir? şimdi beta'yı indirip tekrar denedim, kapanıyor. Sendekini video çekip bana gönder istersen.

—Reply to this email directly, view it on Gi

[2022-04-24 10:14] abdullahbilgi opened #53 "Yeni Özellik :"
(Bu yeni özellik Windows 10 içindir)
Ayarların içine bir buton ekleyip ,isteyenler için yazdığımız metin uzun ise sağ tarafa gitmek yerine cümleyi gösterdiğim yerden alt satıra geçerek orada devam ettirebilir.
![Ekran Görüntüsü (33)_LI](https://user-images.githubusercontent.com/92636172/164971621-d97c09f8-3d96-43f6-b576-be7f57eb08fd.jpg)
![Ekran Görüntüsü (34)](https://user-images.githubuserconten

[2022-04-24 10:32] abdullahbilgi opened #54 "Hata :"
(Bu hataya Windows 10 da rastlanmıştır)
Yardım robotunda türkçe değil de ingilizce olarak bilgilendirme yapıyor
![Ekran Görüntüsü (37)](https://user-images.githubusercontent.com/92636172/164972159-c344eaab-882c-40d7-8fb5-01ed4a2afa79.png)
![Ekran Görüntüsü (38)](https://user-images.githubusercontent.com/92636172/164972160-fc4b6769-30a3-4c5d-a387-5d9dc77fbe60.png)
![Ekran Görüntüsü (39)](https://us

[2022-04-24 10:35] abdullahbilgi opened #55 "Hata :"
(Bu hataya Windows 10 da rastlanmıştır)
Hatalı satırı düzelti işaretleyince hatalı satırları yanlış düzeltiyor
![Ekran Görüntüsü (32)](https://user-images.githubusercontent.com/92636172/164972382-b8dd389e-cad9-4118-b3ee-96915029f166.png)
![Ekran Görüntüsü (36)](https://user-images.githubusercontent.com/92636172/164972384-1af7fff9-bc49-4e5a-95f7-dbd10636a186.png)
![Ekran Görüntüsü (40)](https://use

[2022-04-24 14:21] ttbilgin commented on #53
@abdullahbilgi öneri için teşekkürler, fakat Python dilinde noktalı virgül olmadığı için biz o şekilde alt satıra geçirirsek print'e ait satır bozulmuş olacak ve hata verecektir. Senin ekranda hem sağ menü hemde chatbot açık olduğu için alan daralmış bu yüzden görüş sorun oluşabiliyor. Aynı davranış diğer Python editörlerinde de vardır.

Ama tabiki şunu yaparız, bu hazır örnekteki o satırdaki ifad

[2022-04-24 14:21] #53 closed, assigned to nobody

[2022-04-24 14:34] ttbilgin commented on #54
@aysegul-hatipoglu  bu hataların Türkçelerini veritabanına ekleyelim.

[2022-04-24 14:55] ttbilgin commented on #55
@abdullahbilgi bu editördeki sohbet robotunun kısıtı şudur: "hatalı satırdaki hatanın sebebi o satır değilde önceki başka bir satırdaki eksiklik/yanlışlık var ise düzeltemez". Hatanın düzeltilebilmesi için sadece o satırda oluşmalı ve sadece o satır düzeltildiğinde hatanın giderilebilecek durumda olması gereklidir. Senin verdiğin ilk 2 örnekteki hataların kaynağı diğer satırlar olduğu için düzelte

[2022-04-24 16:13] aysegul-hatipoglu commented on #20
ekledim hocam.

[2022-04-24 16:14] aysegul-hatipoglu commented on #55
@ttbilgin ekledim hocam.

[2022-04-24 16:14] aysegul-hatipoglu commented on #20
@ttbilgin ekledim hocam.

[2022-04-25 08:42] aysegul-hatipoglu commented on #52
düzeltildi.

[2022-04-25 08:42] #52 closed, assigned to nobody

[2022-04-25 08:42] aysegul-hatipoglu commented on #54
eklendi.

[2022-04-25 08:42] #54 closed, assigned to nobody

[2022-04-25 11:42] aysegul-hatipoglu commented on #33
eklendi.

[2022-04-25 11:42] #33 closed, assigned to nobody

[2022-04-25 12:16] aysegul-hatipoglu commented on #51
@furkanyaylaz oturumdan çıkış yapılmadığı sürece tekrar oturum açılması istenmiyor, zaten otomatik giriş yapılı bir şekilde geliyor. Şifreyi gizle/göster işlemi için checkbox ekledim.

[2022-04-25 12:16] #51 closed, assigned to nobody

[2022-04-26 11:22] aysegul-hatipoglu commented on #28
@abdullahbilgi Oturumdan çıkış yapılmadığı sürece tekrar oturum açılması istenmiyor zaten otomatik giriş yapılı bir şekilde geliyor.

[2022-04-26 11:22] #28 closed, assigned to nobody

[2022-04-26 12:38] aysegul-hatipoglu commented on #48
Yardım penceresine Minimize etme özelliği eklendi.

[2022-04-26 12:38] #48 closed, assigned to nobody

[2022-04-26 19:55] ttbilgin commented on #39
@Sanemcoskun  editörün sağ alt köşesine klavye kısayollarına kolayce erişmek için bir link ekledik.

[2022-04-26 19:59] #3 closed, assigned to nobody

[2022-04-26 19:59] ttbilgin commented on #3
bu sorun çözüldü.

[2022-04-26 20:09] ttbilgin commented on #15
@abdullahbilgi  Yardım robotu yapsı gereği bir seferde sadece 1 hata tespit edebiliyor, onu başarıyla düzeltebilirse ve kodun o satırı sorunsuz çalışırsa sonraki hata satırını düzeltmeye çalışır. Hepsini aynı anda düzelttirmeye kalkışırsak kodu daha fazla bozabiliriz.

[2022-04-26 20:09] #15 closed, assigned to nobody

[2022-04-26 20:23] ttbilgin commented on #30
çalıştığın herhangi bir klasördeki bir py dosyayı buluta yüklediğinde o klasördeki yerel kopya silinmiyor bir yere taşınmıyor. Sadece şu oluyor, o dosyayı buluttan indirirken Belgeler'deki PynarKutu klasörüne indirir. Bunun sebebi indirirken sürekli olarak kullanıcıya yer sormaması içindir. Ama şöyle iyileştirebiliriz.

@aysegul-hatipoglu şu pencereye "Farklı Konuma kaydet" butonu ekleyelim. Kod y

[2022-04-26 20:24] aysegul-hatipoglu commented on #34
Problem çözüldü.

[2022-04-26 20:24] #34 closed, assigned to nobody

[2022-04-26 21:45] aysegul-hatipoglu commented on #30
@ttbilgin ekledim Hocam

[2022-04-26 21:45] #30 closed, assigned to nobody

[2022-04-27 08:50] ttbilgin commented on #49
@OsmanTahirKuzu  teknik olarak bu sürümde bunu yapmak zor. Çünkü bizim editörümüzün Hem windows hem linuxta çalışması gerekiyor, bu tür bir yapıyı hem linux hem windows için yapabilmek için her ikisine özel olarak kod yazmak gerekiyor malesef.

[2022-04-27 08:50] #49 closed, assigned to nobody

[2022-04-27 08:52] ttbilgin commented on #45
Web portalda Öğretmen bölümünde Öğretmen öğrenciler için Sınav tanımlayabiliyor. Bu sınavlar belirli tarihler için oluşturulabiliyor ve zamana karşı yapılmakta ve her öğrencinin bitirme zamanı da sistemde kayıt edilmektedir, sınav özelliği yarışma amaçlı olarak kullanılabilir.

[2022-04-27 08:52] #45 closed, assigned to nobody

[2022-04-27 08:56] ttbilgin commented on #29
@aysegul-hatipoglu  bunun yapılabilirliğini araştıralım. QlineEdit'e mousepressevent tanımlanabiliyormuş sanırım.
https://stackoverflow.com/questions/25560748/add-a-click-on-qlineedit

[2022-04-27 08:59] ttbilgin commented on #40
@aysegul-hatipoglu  kullanıcı 3 harf veya daha az metin girerse "Öğrenmek istediğiniz konuyu daha detaylı yazabilir misiniz?"  şeklinde bir mesaj verebilir miyiz?

[2022-04-27 09:58] ttbilgin commented on #44
Teknik olarak Otomatik tamamlayamıyoruz ama kullanıcı parantez veya tırnakları kapatmaz ise buna dair bir bildirim vermeyi editöre ekledik.

[2022-04-27 09:58] #44 closed, assigned to nobody

[2022-04-27 20:13] ttbilgin commented on #46
Güzel bir öneri fakat bunu bir sonraki sürümde gerçekleştirebiliriz, çünkü bunun için sunucu tarafında da tasarım değişiklikleri gerekli ve projede bu kadar vaktimiz bulunmuyor.

[2022-04-27 20:13] #46 closed, assigned to nobody

[2022-04-28 18:34] cagrigonultas opened #56 "Hata:"
(Bu hata Windows 10 için yazılmıştır.)
Ayarlardan kullanım verilerini silip ardından dosyadan kontrol ettiğimde silinmediğini fark ettim.

![hata](https://user-images.githubusercontent.com/91600415/165822396-682e7546-5e7b-4fc7-b86f-4d164c2ed3fc.PNG)
![hata2](https://user-images.githubusercontent.com/91600415/165822415-7482c1b9-5b9b-442a-b218-1442b155ab94.PNG)
![hata3](https://user-images.githubuse

[2022-04-28 19:09] cagrigonultas opened #57 "Hata:"

[2022-04-28 19:18] #57 closed, assigned to nobody

[2022-04-29 07:16] aysegul-hatipoglu commented on #56
@ttbilgin Hocam burada editör tuş basışları yada sınavlara ait json dosyaları siliyoruz. Yani buradaki kısıtımız Log dosyası altındaki json dosyalar. Burada chat.log dosyasını da silelim mi?

[2022-04-29 07:19] aysegul-hatipoglu commented on #47
@ttbilgin Hocam öneri olarak yanlış öneri geliyor, burada şuan benim yapacağım bişey var mı?

[2022-04-29 07:41] aysegul-hatipoglu commented on #40
@ttbilgin ekledim.

[2022-04-29 07:41] #40 closed, assigned to nobody

[2022-04-29 08:40] aysegul-hatipoglu commented on #29
@ttbilgin @emredogangun boyutları değiştirilebilir yaptım. Yazı tipleri line editlerine tıklandığında ise yine değiştire tıklandığındaki ekranı açma işlemi ekleyip değiştir butonlarını kaldırdım. Direk yazıyı değiştirme işlemini eklemiyorum çünkü açılan ekranda başka ayarlarda mevcut.

[2022-04-29 08:40] #29 closed, assigned to nobody

[2022-04-29 08:43] aysegul-hatipoglu commented on #43
@ttbilgin  Hocam bizim şuanda hata ayıklama ile ilgili herhangi bir işlemimiz mevcut mu? benim bilgim yok :) bu madde ile ilgili şuan yapmam gereken bişey varmı anlayamadım.

[2022-04-29 09:27] aysegul-hatipoglu commented on #43
@ttbilgin Birden fazla satıra hata ayıklayıcıyı atama işlemini yaptım ama commit etmedim Hocam commit edeyim mi?

[2022-04-29 09:33] aysegul-hatipoglu commented on #55
@ttbilgin 4.madde için benim yapacağım bişey yok sanırım.

[2022-04-29 10:19] deniz7erdem opened #58 "Hata:"
OS: Windows 10 Pro 21H2

Resimdeki kodun seçili bölümünü seçme işleminden sonra sağ tıkladığımda program herhangi bir uyarı vermeden birden çöküyor. Kod ile alakası yok sanırım başka kodlarda da sol sağ tık yaparken başıma geldi ama ben yine de bu örneği paylaşayım.
-
import time, base64, hmac, hashlib, requests, json

base = "https://api.btcturk.com"
method = "/api/v2/trades?pairSymbol=BTCUSDT&la

[2022-04-29 10:53] aysegul-hatipoglu commented on #58
@ttbilgin  Hocam bu problemde exe de oluşuyor sanırım. Ben denedim herhangibir çökme yaşamadım. Birde exeyi nasıl oluşturduğunuzu benimle paylaşmıştınız ama bulamadım o maili. Tekrar paylaşırmısınız exe üzerinden bende denerim hatayı

[2022-04-29 11:21] aysegul-hatipoglu commented on #9
düzeltildi.

[2022-04-29 11:21] #9 closed, assigned to nobody

[2022-04-29 11:47] aysegul-hatipoglu commented on #50
![image](https://user-images.githubusercontent.com/13594146/165938257-f0a782fc-7385-42ae-b5f6-0592d6b8fe53.png)

@ttbilgin Hocam pynar editör sürümünün olduğu ekrana python ve qt sürümleri ile alakalı bilgileri ekledim ama @yunusefeyilma 'ın dediği şekilde bir geliştirme yapacak mıyız?

[2022-04-29 11:49] aysegul-hatipoglu commented on #50
![image](https://user-images.githubusercontent.com/13594146/165938830-b11870d2-1522-4057-aa93-c42bda0cd196.png)
@ttbilgin Hocam pynar editör sürümünün olduğu ekrana python ve qt sürümleri ile alakalı bilgileri ekledim ama @yunusefeyilmaz  'ın dediği şekilde bir geliştirme yapacak mıyız?

[2022-04-29 15:25] cagrigonultas opened #59 "Yeni özellik"
(Bu yeni özellik önerisi Windows 10 içindir.)
Zero Division Error hatası karşılaşıldığında Türkçe olarak ifade ediliyor.

![hi](https://user-images.githubusercontent.com/91600415/165975890-2e520ed7-04c5-4ebf-b0f4-20069608f925.PNG)

Bu hata except olarak da belirtilebilir mi acaba diye aklıma geldi. Mümkün mü bilmem ama öneri olarak öne sürmek istedim.

![yenilik](https://user-images.githubusercont

[2022-04-29 15:56] aysegul-hatipoglu commented on #59
@cagrigonultas Çağrı tam anlayamadım öneriyi ama sol menüdeki örnekler arasında olmasını mı istiyorsun?
![image](https://user-images.githubusercontent.com/13594146/165980402-b7847da6-1b2d-4eab-b9ba-aac7f0dcf57a.png)

öyle iste sol menüde Try Except örneklerinde mevcut

[2022-04-29 16:04] cagrigonultas commented on #59
@aysegul-hatipoglu  yok direkt hatanın adını Türkçe kullanabilir miyiz diye merak etmiştim.  Hani zero division error yerine sıfıra bölme hatası yazmak gibi.

[2022-04-29 16:08] aysegul-hatipoglu commented on #59
@cagrigonultas Anladım malesef o şekilde olmaz. Açıklamaları türkçe oluşturmaya özen gösteriyoruz ama direk kod olarak çalıştırdığımız pythona ait ifadeleri değiştiremeyiz  ZeroDivisionError pythona ait bir ifade ama bizim hazır örneklerimizde yorum satırı olarak açıklama olarak ekleyebiliriz.

[2022-04-29 16:12] cagrigonultas commented on #59
@aysegul-hatipoglu  Peki o zaman öyle yapalım. Teşekkürler

[2022-04-29 16:14] #59 closed, assigned to nobody

[2022-04-29 17:28] deniz7erdem opened #60 "Hata:"
OS: Ubuntu 20.04.3 LTS

İmleçin bir türlü doğru yeri göstermediğini fark ettim. Örneğin;
![Ekran Görüntüsü - 2022-04-29 20-12-18](https://user-images.githubusercontent.com/47831143/165991643-305fabdf-7219-48a9-936b-367cbce4a347.png)
![2](https://user-images.githubusercontent.com/47831143/165993489-4bbb02c4-8a45-4d7e-b42e-bb8e7863ecfd.png)

`print` ile `()` arasına bir boşluk eklemedim. `()` sonra

[2022-04-29 17:45] deniz7erdem commented on #60
Aynı işletim sisteminde İnternet'ten bir kaç test kodu da denedim, olmayan boşlukları bazen çokça yapıyor ve mouse ile seçme işlemlerinde kodların yerlerini kaydırıp boşluklar yaratabiliyor.
![boşluk](https://user-images.githubusercontent.com/47831143/165995876-59108da5-5628-44ae-bab8-22dab3af6cb5.png)

[2022-05-01 10:38] ttbilgin commented on #60
Bu sorun daha önce rapor edilmişti,  Ubuntu 20.04 eski bir Qt sürümü içerdiği için düzgün çalışmıyor, 21 ve yukarısında dene, bu sorun oluşmamalıdır.
Şurayı incele:
https://github.com/ttbilgin/PyNar_Hata_Raporlama/issues/27

[2022-05-01 10:38] #60 closed, assigned to nobody

[2022-05-01 10:41] ttbilgin commented on #58
@aysegul-hatipoglu şuradan deneyebilirsin. Eğer zaten nuitka var ise lütfen onu kaldır ve en yeni sürümü kur öyle dene.
https://github.com/ttbilgin/PyNar_Dokumantasyon/blob/main/Nuitka.md

[2022-05-01 10:46] ttbilgin commented on #56
@aysegul-hatipoglu evet onu unutmuşuz, chat.log'u da silelim lütfen.

[2022-05-01 13:10] ttbilgin commented on #58
@deniz7erdem  biz her türlü kombinasyonu denedik fakat bu hatayı tekrar edemedik. Sen bu hatanın oluşması için gereken adımları adım adım anlatabilirmisin?  Veya kısa bir video da çekebilirsin.

[2022-05-01 14:02] deniz7erdem commented on #58
@ttbilgin https://youtu.be/-yN-pycLeuc Youtube'a kısa bir video yükledim. Mouse tuşlarımın özel bi sırası yok, rasgele bastığımda gerçekleşiyor. Bazen ilk basışta bazen 5. de çökme oluyor.

[2022-05-01 14:34] ttbilgin commented on #50
@aysegul-hatipoglu  bu konuya haftaya bakacağım

[2022-05-01 14:43] ttbilgin commented on #43
@aysegul-hatipoglu  hata ayıklayıcı dediğin satır başına fare tıklamasıyla eklenen ikonu mu kastediyoruz? :)

[2022-05-01 20:42] aysegul-hatipoglu commented on #56
@ttbilgin ekledim.

[2022-05-01 20:42] #56 closed, assigned to nobody

[2022-05-01 20:59] aysegul-hatipoglu commented on #43
@ttbilgin Sanırım sadece ikon hocam :) Ben o konuda bişey yapmadım kodları incelediğimde de bişey yapıldığını göremedim sadece ikon atanıyor şuan. Furkan sadece 1 satıra atanıyor demiş issue açık mı kalsın birden fazla satıra atama yapıp kapatayım mı bilemedim ondan dolayı sormak istedim.

[2022-05-02 08:23] ecemozturkk opened #61 "Hata:"
Bu hataya Windows 10'da rastlanmıştır.
Öğrenci ve öğretmen için de bilgi güncelleme kısmına girildiğinde aşağıda yazdığım şehirler için bir üniversite bilgisi yok.
Hatalı şehirler : Bilecik, Bitlis, Diyarbakır, Erzincan, Giresun, Karabük, Kırklareli, Mardin, Şırnak.

![image](https://user-images.githubusercontent.com/56153715/166205589-5ef4c690-2b38-4218-9559-e3e2cdf57d85.png)
![image](https://use

[2022-05-02 08:34] ecemozturkk opened #62 "Hata:"
Bu hataya Windows 10'da rastlanmıştır.
Güncelleme kısmında şube bilgisini A'dan Şube Yok'a değiştirmeye çalıştığımda hata verdi ve verdiği hata dönütü Türkçe değildi. Şube Yok yerine başka bir şube seçince başarıyla güncelleme yaptı.

![image](https://user-images.githubusercontent.com/56153715/166206976-d94f2df3-1018-4223-9f7c-d4dc6dc25ec9.png)
![image](https://user-images.githubusercontent.com/56

[2022-05-02 08:40] ecemozturkk opened #63 "Hata:"
Bu hataya Windows 10'da rastlanmıştır.
Şube bilgisini B'den Ç'ye ve A'ya değiştirmeye çalışınca güncellemedi, hata verdi.

![image](https://user-images.githubusercontent.com/56153715/166207519-0c4c829d-8300-4b88-8f33-28c37174e9f3.png)
![image](https://user-images.githubusercontent.com/56153715/166207580-64184309-0e17-4ce4-8245-73c1e1c618f5.png)

[2022-05-02 08:44] ecemozturkk opened #64 "Hata:"
Bu hataya Windows 10'da rastlanmıştır.
Güncelleme işlemi sınıf bilgisi girilmeden yapılmaya çalışılınca alınan hata Türkçe değil.
Örneğin okul bilgisini boş bıraktığımda alınan hata Türkçe.
![image](https://user-images.githubusercontent.com/56153715/166208102-78faf938-9a74-4710-a4c2-4059cc0741a3.png)
![image](https://user-images.githubusercontent.com/56153715/166208174-cddef146-d688-4052-afb7-511c

[2022-05-02 08:51] ecemozturkk opened #65 "Hata:"
Bu hataya Windows 10'da rastlanmıştır.
Hem öğrenci hem de öğretmen bilgileri güncelleme kısmındaki 'Düzenleme Butonu' PyNar Help'de yazıldığı gibi basılabilir bir tuş değil.
Güncelleme işlemini sadece 'Güncelle' butonuna basarak gerçekleştirebiliyorum.

![image](https://user-images.githubusercontent.com/56153715/166208784-23a5cd76-0d83-40b1-8665-ddb2815b80c7.png)
![image](https://user-images.githu

[2022-05-02 08:56] ecemozturkk opened #66 "Hata:"
Bu hataya Windows 10'da rastlanmıştır.
Kendimi öğretmen olarak ekleyemiyorum, hata alıyorum. Bu yüzden de hem öğrenci hem de öğretmen için uygulamanın diğer kısımlarını test edemiyorum.
![image](https://user-images.githubusercontent.com/56153715/166209591-2d35a5d9-94ba-458c-a15b-9a637053ea45.png)

[2022-05-05 20:11] ttbilgin commented on #43
@aysegul-hatipoglu bu şimdilik açık kalsın, zaman kalırsa bunun için bişey düşüneceğiz.

[2022-05-05 20:21] ttbilgin commented on #47
@aysegul-hatipoglu senin yapman gereken bişey yok, chatbotu geliştiren Hakan uğraşıyor bu konuda.

[2022-05-05 20:21] ttbilgin commented on #61
@fatiiates  buna bakabilir miyiz?

[2022-05-05 20:23] ttbilgin commented on #58
Bu hata düzeltildi. https://github.com/ttbilgin/PyNar_Beta/commit/1962afffaf0fc1c6da6d3fed09fc4d05df3465a7
yeni Installer yaptığımızda tekrar denersin @deniz7erdem

[2022-05-05 20:23] #58 closed, assigned to nobody

[2022-05-05 20:23] ttbilgin commented on #62
@fatiiates buna da bakabilirmisin?

[2022-05-05 20:24] ttbilgin commented on #63
@fatiiates  buna bakalım.

[2022-05-05 20:25] ttbilgin commented on #64
@fatiiates bu hata diğerleri ile aynı mı? kontrol edelim

[2022-05-05 20:26] ttbilgin commented on #66
@fatiiates  buna da bakalım

[2022-05-06 10:04] ttbilgin commented on #13
Bu geliştirmeyi yeni sürümde değerlendireceğiz, bu sürümde bunu yapmak çok vakit alıcı olacak.

[2022-05-06 10:04] #13 closed, assigned to nobody

[2022-05-06 15:28] emredogangun opened #67 "İyileştirme:"
pynar.org sitesine girdiğimizde oturum açmak için herhangi bir buton yok. Uygulamayı indirmeden de üye olabilmek için siteye bir yönlendirme butonu eklenebilir.
![Ekran Görüntüsü (96)](https://user-images.githubusercontent.com/92365234/167164124-1e018ed4-b923-4d02-92f8-cae32434cd02.png)

[2022-05-06 16:08] emredogangun opened #68 "Hata:"
Syntax hatalı kodu çalıştırmaya çalıştığımda bu hata ile karşılaştım.
![Ekran Görüntüsü (101)_LI](https://user-images.githubusercontent.com/92365234/167170604-95342c49-e08b-49e7-b2c9-47938582c252.jpg)

[2022-05-06 16:10] ttbilgin commented on #68
@emredogangun Kodu da buraya yazarmısın?

[2022-05-06 16:23] emredogangun commented on #68
sayac=0
sayi=input('Bir Sayı Giriniz: ')
for i in range(2,int(sayi)):
  if(int(sayi)%i==0):
    sayac+=1
    break
if(sayac!=0):
  print("Girilen Sayı Asal Değil")
else:
  printf("Girilen Sayı Asal")

Son satırdaki print yerine 'printf' yazmıştım ama kodu tekrar çalıştırdığımda robot hatayı gösterdi o uyarı ekranı çıkmadı.

[2022-05-06 19:13] ttbilgin commented on #67
Siteye PYNAR PORTAL linki eklendi.

[2022-05-06 19:13] #67 closed, assigned to nobody

[2022-05-06 19:28] ttbilgin commented on #68
@emredogangun bu kodu denedim, fakat sendeki gibi bir uyarı çıkmadı, senin bilgisayarına özgü geçici bir hata olmuş olabilir. Pynar kurulum klasörü içindeki pyright-win.exe adlı EXE'ye ulaşamzsa bu hatayı verebilir, muhtemelen bir süreliğine bilgisayarında virüs taraması sırasında bu EXE geçici olrak bloke edilmiş olabilir.

[2022-05-07 12:36] ttbilgin commented on #68
@aysegul-hatipoglu sende denermisin? ben denediğimde böyle bir hata oluşmadı.

[2022-05-07 18:23] fatiiates commented on #61
@ttbilgin, hocam sorun scraping ile alınan verilerden kaynaklanıyor. Veriler malesef çok kirliler, örneğin kazara Boğaziçi üniversitesinin ISTANBL'da tek bir harf farkı var ancak doğal olarak çıkmıyor olduğunu farkettim.

Ya da başka bir örnek isterseniz, ŞIRNAK üniversitesi Türkiye ilinde gözüküyor. Gözüme çarpanları düzeltip atıyorum şu an için, ek olarak da tabloyu güncelliyorum Türkçe karakter

[2022-05-07 18:58] ttbilgin commented on #61
@fatiiates  teşekkürler, temizleme bittiğinde bu issue'yu kapatırsın.

[2022-05-07 20:42] SabaUrgup opened #69 "Hata:"
Bu hataya Windows 10 Pro'da rastlanmıştır.
Editörün ayarlar kısmına girip sadece yazı tipini değiştirmeyi denerken yazı boyutu da kendi kendine her değişimle birlikte 2 punto küçülüyor. Tekrar düzeltilmezse her değişimle birlikte yazı puntosu 2' ye kadar düşüp sonraki açıp kapamada 8'e çıkıyor. Bu durum hem kod hem de editör yazı tipi ve puntosu için geçerlidir.
Örneğin editör yazı tipi ve puntosu

[2022-05-07 20:44] elifdoylan opened #70 "Hata:"
İşletim Sistemi: Windows 11
Kayıt olduktan sonra editörden bulut işlemleri yapmak istediğimde oturum açmam gerektiğine dair bir mesaj aldım ancak mailimi ve şifremi girdiğimde editör kapandı. Her denediğimde ise editör kapandı ve editörde oturum açamadım.

[2022-05-07 20:51] elifdoylan opened #71 "Hata:"
İşletim Sistemi: Windows 11
Paket indirmeye çalıştığımda indiremedim PyPI dan paketi buldu ancak indirmeden sonuç alamadım. Uzun zaman beklememe rağmen indirmenin başarılı olduğuna dair bir ekran göremedim.

[2022-05-07 20:55] SabaUrgup opened #72 "Hata:"
Bu hataya Windows 10 Pro'da rastlanmıştır.
Editörün ayarlar kısmına girip font ayarlarından yazı tipini tarzını değiştirmeyi çalıştım. Fakat hem kod hem de editör font ayarlarından yazı tipi tarzı değişmiyor. Yazı tipi tarzı değişiklik yapıp kapatıp açıyorum fakat default olarak tekrardan normal haline geliyor.
Örnek: Times New Roman normalden kalına, aynı şekilde Arial normalden kalın italik hali

[2022-05-07 21:01] SabaUrgup opened #73 "Hata:"
Bu hataya Windows 10 Pro'da rastlanmıştır.
Editörün ayarlar kısmına girip font ayarlarından efektleri aktif hale getirdim. Fakat editörü kapatıp açtıktan sonra hem kod hem de editör font ayarlarındaki efektlerin tikleri kalktı ve efektler çalışmadı.
![Ekran Alıntısıe](https://user-images.githubusercontent.com/76062971/167271598-9a16b697-fdf7-4398-8c3b-66af26c57e59.PNG)

[2022-05-07 22:03] ttbilgin commented on #70
@elifdoylan Sisteme adını ve soyadını girerken arada 2 tane boşluk bırakmışsın, biz bu kadarını öngörmemişiz, bunu yeni sürümde düzeltiyoruz, fakat şimdiki durumda ben aradaki fazladan boşluğu kaldırdım, şuan giriş yapabiliyor olmalısın.

@fatiiates öğrenciler web portalda kendi user_fullname stringlerini değiştirebilsinler, bunun için "Parola Bilgileri" bölümüne bir textbox ekleyelim.

[2022-05-07 22:03] ttbilgin commented on #71
@elifdoylan hangi pakette oldu bu hata?

[2022-05-07 22:33] elifdoylan commented on #71
@ttbilgin AppJar, decorate, jedi, pyautogui gibi birkaç pakette denedim ama indirme başarılı penceresini göremedim. Bu paketleri indirmeyi birkaç kez denedim genellikle indirme ekranında takılı kaldı ama birkaç denememde editör kapandı.

[2022-05-07 22:40] ttbilgin commented on #71
bir komut satırı (cmd.exe) aç, komut satırında sadece
path
yaz ve ekrana gelen çıktıyı buraya cevap olarak yaz.

[2022-05-07 22:47] ttbilgin commented on #73
Font ayarları penceresi Qt Kütüphanesinin standart Font penceresi olduğu için biz bunun tasarımını değiştiremiyoruz. Bu pencereden biz sadece "Yazı Tipi" ve "Boyut" bilgisi alıyoruz, diğer bilgileri almıyoruz, fakat almadıklarımızı kapatmaya izin vermediği için orada duruyorlar. Bunun malesef bir çözüm yolu yok.

[2022-05-07 22:47] #73 closed, assigned to nobody

[2022-05-07 22:50] ttbilgin commented on #72
Font ayarları penceresi Qt Kütüphanesinin standart Font penceresi olduğu için biz bunun tasarımını değiştiremiyoruz. Bu pencereden biz sadece "Yazı Tipi" ve "Boyut" bilgisi alıyoruz, diğer bilgileri almıyoruz, fakat almadıklarımızı kapatmaya izin vermediği için orada duruyorlar.

Pynar bir Yazı editörü değil, kod editörü olduğu için fontlardaki Bold,İtalik gibi özellikleri kullanmaya gerek duymadı

[2022-05-07 22:50] #72 closed, assigned to nobody

[2022-05-07 22:51] ttbilgin commented on #69
@aysegul-hatipoglu bunu yeni çıkacak sürümde düzeltmişmiydik?

[2022-05-08 10:14] elifdoylan commented on #71
PATH=C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;C:\WINDOWS\System32\OpenSSH\;C:\Program Files\NVIDIA Corporation\NVIDIA NvDLISR;C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;C:\WINDOWS\System32\OpenSSH\;C:\Users\ELİF DOYLAN\AppData\Lo

[2022-05-08 12:03] fatiiates commented on #64
@ttbilgin, güncelleme gerçekleştirdim, çözüldüğüne inanıyorum.

[2022-05-08 12:04] fatiiates commented on #63
@ttbilgin, test edebilirsiniz, güncelleme gerçekleştirdim.

[2022-05-08 12:32] fatiiates commented on #61
@ttbilgin, güncelleme gerçekleştirdim, test edilebilir.

[2022-05-08 12:52] fatiiates commented on #66
@ttbilgin, bunu aslında düzenlemiştik hocam, belki yerelde kaldığı için sorun yaşanmış olabilir, şu an sıfırdan oluşturduğum bir öğretmende bu soruna rastlamıyorum. @ecemozturkk, tekrar test edebilir misin? Ctrl+F5 ile veya farklı bir şekilde hard yenileyerek test edersen daha iyi sonuç alabilirsin.

[2022-05-08 14:31] fatiiates commented on #62
@ttbilgin, güncelleme gerçekleştirim, test edilebilir.

[2022-05-08 15:43] fatiiates commented on #70
@ttbilgin, "parola bilgilerinin" altına yeni "kişisel bilgiler" alanı açtım ve oraya ekledim. Şu an öğrenciler isimlerini değiştirebiliyorlar.

[2022-05-08 15:47] ezgiaydiiin opened #74 "ekranın birden kapanması"
Yeni paketi başarıyla ekledikten sonra tekrardan kod yazmaya başladım ve çalıştırdım. Hatalarımı görüntülemek isterken PyNar ekranı birden kapandı. Bu olay 3-4 defa gerçekleşti.

[2022-05-08 16:09] ecemozturkk commented on #66
@fatiiates  tekrar test ettim, bir hata ile karşılaşmadım.

[2022-05-08 17:09] ttbilgin commented on #71
@elifdoylan  pynar editörü programlar bölümünden komple kaldır. Sonra şu resimdeki gibi Windowsta bir pencere açıp %AppData% yazıp açılan klasörde Pynar Kod Editörü klasörünü de silip pynar'ı tekrar kur ve tekrar Paket yöneticisini test et lütfen.

![image](https://user-images.githubusercontent.com/854154/167307348-4e601b9b-220e-474c-9dcc-9677debebe96.png)

[2022-05-08 17:11] ttbilgin commented on #61
@fatiiates  evet eklemişsin fakat mevcuttaki ad soyad bilgisi textbox'lar içinde gelmiyor.

[2022-05-08 17:12] #62 closed, assigned to fatiiates

[2022-05-08 17:14] #63 closed, assigned to fatiiates

[2022-05-08 17:15] #64 closed, assigned to fatiiates

[2022-05-08 17:15] ttbilgin commented on #66
bu durumda bu issue'yı kapatıyorum.

[2022-05-08 17:15] #66 closed, assigned to fatiiates

[2022-05-08 17:17] ttbilgin commented on #74
@ezgiaydiiin
hangi paketi ekledin? kullandığın python sürümü nedir? ayrıca kapanma durumu ile ilgili kısa bir video çekip buraya linkini koyabilirsen daha kolay teşhis koyabiliriz.

[2022-05-08 17:18] #61 closed, assigned to fatiiates

[2022-05-08 17:19] ttbilgin commented on #70
@fatiiates evet eklemişsin fakat mevcuttaki ad soyad bilgisi textbox'lar içinde gelmiyor.

[2022-05-08 17:46] fatiiates commented on #70
@ttbilgin, güncelleme gerçekleştirdim, test edilebilir.

[2022-05-08 17:57] #70 closed, assigned to fatiiates

[2022-05-08 18:00] ezgiaydiiin commented on #74
hocam şimdi tekrar denedim ve aynı sorunu vermedi, farklı paketlerle de tekrar denedim bir sıkıntı olmadı

[2022-05-08 18:19] ezgiaydiiin commented on #74
önceki sorunun sebebi paket yerine yanlışlıkta kütüphane eklememmiş fakat paket olarak indirmeme izin verdi (numpy kütüphanesi)

[2022-05-08 18:31] ttbilgin commented on #74
bu durumda hata bildirimini kapatıyorum. fakat yanlış yaptığın kodu da buraya yazarsan bizde de eğer editör kapanıyorsa bunun için bir koşul kontolü yaptırırız bu sayede editör kapanmaz.

[2022-05-08 19:36] elifdoylan commented on #71
@ttbilgin Dediğiniz adımları gerçekleştirdim ama aynı sorun hala devam ediyor.

[2022-05-08 20:30] ttbilgin commented on #71
elif, pynar açıkken bu durumun bir videosunu çekip linki buraya koyarmısın?

ayrıca AppJar, decorate, jedi, pyautogui  paketlerini Pynar kapalıyken
pip install appjar
gibi pip ile kurabiliyormusun?

[2022-05-08 21:18] elifdoylan commented on #71
@ttbilgin Kapalıyken denediğimde pip hatası verdi ama o hatayı çözdüm tekrar denediğimde paketleri sorunsuz bir şekilde indirdi.

[2022-05-08 21:23] ttbilgin commented on #71
Pynar paketleri kurmak için pip kullanır, bilgisayarında pip düzgün çalışmıyorsa pynarda da paket kurulumu düzgün çalışmaz. Şu an sorun yok sanırım?

[2022-05-08 21:28] elifdoylan commented on #71
Sorun kalmadı.

[2022-05-09 06:18] #71 closed, assigned to nobody

[2022-05-09 06:46] aysegul-hatipoglu commented on #68
@ttbilgin denedim hocam bende de bir uyarı çıkmadı.

[2022-05-09 06:47] ttbilgin commented on #68
bu durumda bu issue'yı kapatıyorum.

[2022-05-09 06:47] #68 closed, assigned to nobody

[2022-05-09 06:52] aysegul-hatipoglu commented on #69
@ttbilgin evet düzelttik hocam issue'yı kapatıyorum.

[2022-05-09 06:55] #69 closed, assigned to nobody

[2022-06-06 18:44] ttbilgin commented on #50
Bu özellik eklenmiştir.

[2022-06-06 18:44] #50 closed, assigned to nobody

[2022-06-06 18:45] ttbilgin commented on #47
Bu hatalar için mantıklı bir cevap üretilmesi sağlandı.

[2022-06-06 18:45] #47 closed, assigned to nobody